@model EmotionsWeb.Models.Home

@{
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>IndexAlt</title>
</head>
<body>
    <div> 
        <h2>@Model.WelcomeMessage</h2>
        <h4>@Model.FooterMessage</h4>
    </div>
</body>
</html>
